<div class="container">
  <h2>How to</h2>
  <hr>
  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4><i class="fas fa-xs fa-info-circle"></i> Get started</h4>
      </mat-expansion-panel-header>

      <app-howto-get-started></app-howto-get-started>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4><i class="fas fa-xs fa-info-circle"></i> Save bookmarks</h4>
      </mat-expansion-panel-header>

      <app-howto-save></app-howto-save>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4><i class="fas fa-xs fa-info-circle"></i> Search bookmarks</h4>
      </mat-expansion-panel-header>

      <app-howto-search></app-howto-search>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4><i class="fas fa-xs fa-info-circle"></i> Bookmarklets</h4>
      </mat-expansion-panel-header>

      <app-howto-bookmarklets></app-howto-bookmarklets>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4><i class="fas fa-xs fa-info-circle"></i> Codelets</h4>
      </mat-expansion-panel-header>

      <app-howto-codelets></app-howto-codelets>

    </mat-expansion-panel>

  </mat-accordion>
<!--  <app-howto-get-started></app-howto-get-started>
  <app-howto-save></app-howto-save>
  <app-howto-search></app-howto-search>
  <app-howto-codelets></app-howto-codelets>
  <app-howto-bookmarklets></app-howto-bookmarklets>-->

</div>

